.navigation {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    padding: 20px;
    margin: 0;
    background-color: black;
}

.navigation a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}

.navigation a:hover{
    color: purple   ;
}

.home-section{
    background-image: url(/assests/background.jpg);
    padding: 150px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 1.4;
}

.about-me-section{
    background-color: grey;
    padding: 100px;
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.profile {
    width: 250px;
    display: flex;
}

.about-me-section h2{
    font-size: 50px;
    display: flex;
}

.skills {
    background-color: gainsboro;
    padding: 50px;
}